* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,#root {
  width: 100%;
  height: 100%;
}

html{
  background-color: rgb(47, 47, 47);
  padding: 1rem;
}
.notes{
  display: flex;
  gap: 3rem;
  padding-block: 1rem;
  flex-wrap: wrap;
}

.note{
  background-color: rgb(153, 151, 151);
  padding: 0.7rem;
  border-radius: 1rem;
  max-width: 20rem;
  color: rgb(238, 232, 232);
}
