* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
html {
  background-color: #2d2929;
  padding: 1rem;
}
.products {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.product {
  /* height: 20rem;  */
  max-width: 22rem;
  background-color: #fff;
  border-radius: 0.65rem;
  padding: 0.5rem;
  border: 2px solid rgb(222, 161, 161);
}
.top img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.abt {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  word-wrap: break-word;
}
.abt h2 {
  color: #585858;
}
.abt h4 {
  color: #47cdd4;
}
.abt p {
  color: #878585;
}

.btn {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
button {
  background-color: red;
  padding: 0.8rem 1rem;
  border: none;
  color: white;
  border-radius: 0.65rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: darkred;
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.4);
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.94);
}

.for-container {
  padding: 4rem;
  background-color: #a29b9b;
  margin-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  width: fit-content;
  flex-wrap: wrap;
}
input {
  font-size: 1rem;
  padding: 0.32rem;
  border-radius: 2px;
  border: none;
  font-weight: 400;
}
